<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<script src="album.js"></script>
<main id="familyList">
    <h1>Welcome <%= name %></h1>
    <a href="/albumPage?fam=<%= fam %>&name=<%= name %>">Make a New Album</a>
    <h3 id="famId" style="display: none;"><%= fam %></h3>
    <h3 id="id" style="display: none;"><%= id %></h3>
    <div id="pictures"></div>
    <div id="albums">
    </div>
</main>

</body>
</html>